@font-face { /*inserting fonts used*/
  font-family: lemonmilk;
  src: url(../font/LEMONMILK-Medium.otf);
  font-style: normal;
}

@font-face {
  font-family: robotobold;
  src: url(../font/Roboto-Bold.ttf);
  font-style: normal;
}

/*header*/

header {
  position: absolute;
  left: 0;
  right: 0;
  margin: 1em;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block; /* horizontal navigation */
  margin: 1em;
  margin-top: 2em;
}

nav a {
  font-family: 'lemonmilk';
  text-decoration: none;
  text-transform: uppercase;
  font-size: .8rem;
  padding: .5em;
  color: #FFF;
}

nav a:hover,
nav a:focus { /* tiny variations when hovering over nav options */
  color: #DDD;
}

@media (min-width: 65.1rem) { /* puts the logo on left and navigation on right when on bigger devices */
  .logo {
    float:left;
  }

  nav {
    float:right;
  }
}

@media (max-width: 65.1rem) {
  .logo {
   height: 15vw;
   position: center;
  }
  nav a {
    font-size: 2vw;
  }
}




body /*normal styling, creating slightly trasnlucent background as well for the info boxes*/
{
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0)),url(../image/photo8.jpg);
    background-size: cover;
    background-position: center;
    font-family: "lemonmilk";
}
