@font-face { /*inserting fonts used*/
  font-family: lemonmilk;
  src: url(../font/LEMONMILK-Medium.otf);
  font-style: normal;
}

@font-face {
  font-family: robotobold;
  src: url(../font/Roboto-Bold.ttf);
  font-style: normal;
}

body /*normal styling, creating slightly trasnlucent background as well for the info boxes*/
{
    margin: 20;
    padding-top: 20;
    text-align: center;
    background: linear-gradient(rgba(0,0,50,0.5),rgba(0,0,50,0)),url(../image/photo8.jpg);
    background-size: cover;
    background-position: center;
    font-family: "lemonmilk";
}

.back {
  float: left;
  height: 50px;
  width: 50px;
  font-size: 3vw;
  background-color: transparent;
  border-color: transparent;
  padding: 1vw;
}

.back i {
  color: #836DFF;
}

.back i:hover {
  color: #6A58CE;
}

@media (max-width: 65.1rem){
  .back {
    font-size: 5vw;
    height: 100px;
    width: 100px;
  }
}
